@import "libs/_reset.scss";
@import "libs/_variables.scss";
@import "libs/_fonts.scss";
@import "libs/_mediaQueries.scss";

body{
    font-size: $bodySizetext;
    width: 100%;
    max-width:1440px;
    background-color: #c0c0c0;
    margin: 0 auto;
}

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
.Fraunces-bold {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.Fraunces-black {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

header{
    $headerHeigth:800px !default;

    background-color: hsl(199.79deg, 100% ,61.96%);
    height: $headerHeigth;
    display: flex;
    flex-direction: column;

    nav{
        width: 95%;
        height: 56px;
        display: flex;
        flex-direction: row;
        position: relative;
        top: 34px;
        z-index: 2;
        margin: 0 auto;

        %navDefault{
            
            width: 50%;
            display: flex;
            align-items: center;
        }

        .nav-logo{
           @extend %navDefault; 
           picture{
                padding: 0 30px;
           }
        }
        .nav-link{
            @extend %navDefault;
            @extend .barlow-semibold;

            @include Mobile{
                display: none !important;
            }
            @include Small{
                display: none !important;
            }

            font-size: 1rem;
            text-transform: capitalize;
            color:$neutralWhite ;
            text-align: right;
            display: flex;
            justify-content: right;
            ul{
                list-style-type: none;
                line-height: 40px;
                li{
                    margin-left: 40px;
                    float: left;
                    line-height: 1.38rem;
                    letter-spacing: 0.007rem; 
                }
                .contact{
                    @extend .Fraunces-bold;
                    background-color: $neutralWhite ;
                    color:$neutralVeryDarkDesaturatedBlue ;
                    width: 140px;
                    height: 40px;
                    border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.83rem; 
                    line-height: 1.38rem;
                    letter-spacing: 0.006rem; 
                    position: relative;
                    bottom: 10px;
                }
            }
        }   
        .nav-mobile{
            width: 50px;
            display: none;

            @include Mobile{
                display: flex !important;
                justify-content: right;
                align-items: center;
                width: 45%;
            }
            @include Small{
                display: flex !important;
                justify-content: right;
                align-items: center;
                width: 45%;
            }
        }     
    }
    figure{
        width: 100%;
        height: $headerHeigth;
        position: absolute;
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .wrap{
        @extend .Fraunces-black;
        text-transform: uppercase;
        z-index: 3;
        position: absolute;
        width: 750px;
        height: 69;
        top:65%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 3.1rem;
        letter-spacing: 0.48rem;
        line-height: 3.86rem;
        color: $neutralWhite;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include Mobile{
            width: 50%;
            font-size: 2rem;
            top:35%;
        }

        figure {
            width: 30px;
            height: 107px;
            align-items: center;
            margin-top: 70px;
        }
    }
}

main{
    background-color: $neutralWhite;
    $sectionHeight:600px;

    %section{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include Mobile{
            flex-direction: column-reverse;
            height: none;
        }
    }
    %item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        @include Mobile{
            width: 100%;
            height: 400px;
        }
        }
    
    %title{
        @extend .Fraunces-black;
        color: $neutralVeryDarkDesaturatedBlue;
        width: 50%;
        font-size: 2.2rem;
        line-height:2.74rem; 
        letter-spacing: 0.016rem;
    }
    %p{
        @extend .barlow-semibold ;
        color: $neutralDarkGrayishBlue;
        width: 50%;
        font-size: 1rem;
        font-weight: normal;
        padding: 20px 0;
        line-height: 1.66rem;
        letter-spacing: 0.007rem;

    }
    %button{
        @extend .Fraunces-black;
        margin-top:50px;
        background-color: $neutralWhite;
        border: 0;
        text-transform: uppercase;
        width: 150px;
        font-size: 0.83rem;
        display: block;
        line-height: 1.38rem;
        letter-spacing: 0.055rem;
    }

    .Transform-your-brand{
        @extend %section;            

        article{
            @extend %item;
        

            h2{
                @extend %title;
                text-transform:capitalize;
            }
            p{
                @extend %p;
            }
            button{
                @extend %button;
                background: linear-gradient(0deg, #{$primaryYellow} 0%, #{$neutralWhite} 40%);

            }
        }
        figure{
            @extend %item;
            height: $sectionHeight;
            
            @include Mobile{
                width: 100%;
                height:300px;
            }
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .Stand-out-to-the-right-audience{
        @extend %section;
        flex-direction: row-reverse;
        @include Mobile{
            flex-direction: column-reverse;
            
        }

        article{
            @extend %item;

            h2{
                @extend %title;
                text-transform:capitalize;
            }
            p{
                @extend %p;
            }
            button{
                @extend %button;
                background: linear-gradient(0deg, #{$primarySoftRed} 0%, #{$neutralWhite} 40%);

            }
        }
        figure{
            @extend %item;
            height: $sectionHeight;
            @include Mobile{
                width: 100%;
                height:400px;
            }
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .graphic-photography{
        @extend %section;

        .graphic{
            color:$primaryDarkDesaturatedCyan;
        }
        .photography{
            color:$primaryDarkBlue;
        }
        article{
            @extend %item;
            display: block;
            height: $sectionHeight;
            
            figure{
                @extend %item;
                height: $sectionHeight;
                width: 100%;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            article{
                position: relative;
                bottom: 40%;
                margin: 0 auto;
                text-align: center;

                h2{
                    @extend .Fraunces-black;
                    letter-spacing: 0.01rem;
                    line-height: 1.91rem;
                    font-size: 1.4rem;
                    padding: 20px 0;
                }
                p{
                    @extend .barlow-semibold;
                    font-size: 0.88rem;
                    letter-spacing: 0.006rem;
                    line-height: 1.5rem;
                }
            }
        }
        
    }

    .testimonials{
        @extend %section;
        flex-direction: column;
        min-height: 550px;

        h2{
            @extend .Fraunces-black;
            color: $neutralGrayishBlue;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 0.27rem;
            line-height: 1.37rem;
            font-weight: normal;
            padding: 10px 0;
        }

        .cards{
            width: 80%;
            display: grid ;
            grid-template-columns: repeat(3,1fr);
            gap:50px;
            width: 72%;
            margin: 0 auto;
            

            .card{
                display: flex;
                flex-direction: column;
                align-items: center;

                .card-user{
                    text-align: center;
                    padding: 50px 0;
                    figure{
                        width: 72px;
                        height: 72px;
                        img{
                            width: 100%;
                            height: 100%;
                            border:0;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
                .card-content{
                    @extend .barlow-semibold;
                    font-size: 1rem;
                    color:$neutralVeryDarkGrayishBlue;
                    line-height: 1.3rem;
                    text-transform: capitalize;
                    padding: 0 0 30px 0;
                    line-height: 1.77rem;
                    letter-spacing:0.007rem; 
                }
                .card-name{
                    @extend .Fraunces-black;
                    font-size: 1rem;
                    color:$neutralVeryDarkDesaturatedBlue;
                    text-transform: capitalize;
                    line-height: 1.23rem;
                    letter-spacing: 0.007rem;
                }
                .card-job{
                    @extend .barlow-semibold;
                    font-size: 0.77rem;
                    color:$neutralGrayishBlue;
                    text-transform: capitalize;
                    line-height: 1.38rem;
                    letter-spacing: 0.005rem;
                }
            }
        }
    }
    .gallery{
        @extend %section;
        $galleryHeight: 447px;
        height: $galleryHeight;

        article{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            width: 100%;
            height: $galleryHeight;
            figure{
                height: $galleryHeight;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

footer{
    width: auto;
    height: 350px;
    background-color: $primaryFooterBackground ;
    justify-content: center;
    align-items: center;

    article{
        width: 297px;
        height: 206px;
        margin: 0 auto;
        display: flex;
        flex-direction: column; 
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;

        %sectionFooter{
            padding: 20px 0;
        }

        %ul{
            width: 100%;
            height: 25px;
            list-style-type: none;            
            
            li{
                @extend .barlow-semibold;
                float: left;
                margin-left: 30px;
                display: block;
                font-size: 1rem;
                line-height: 1.38rem;
                letter-spacing: 0.007rem;
            }
        }
            .logo{
                @extend %sectionFooter;

                img{
                    filter: invert(100%) sepia(100%) saturate(0%);
                }
            }
            .link{
                @extend %sectionFooter;

                ul{
                    @extend %ul;
                }

                a{
                    color: $primaryDarkModerateCyan; 
                    font-size: 1rem;
                    line-height: 1.38rem;
                    letter-spacing: 0.007rem;
                }
            }
           .follow{
                @extend %sectionFooter;

                ul{
                    @extend %ul;
                }
           }
            

            
           .logo{
                img{
                    filter:hue-rotate(167deg) saturate(40%) brightness(24%);
                }
           }
    }
}
