@import "libs/_reset.scss";
@import "libs/_variables.scss";
@import "libs/_fonts.scss";
@import "libs/_mediaQueries.scss";

body{
    font-size: $bodySizetext;
    width: 100%;
    max-width:1440px;
    background-color: #c0c0c0;
    margin: 0 auto;
}

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
.Fraunces-bold {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.Fraunces-black {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

header{
    $headerHeigth:800px !default;    

    background-color: hsl(199.79deg, 100% ,61.96%);
    height: $headerHeigth;
    display: flex;
    flex-direction: column;

    @include Mobile{
        height: 538px;
    }   

    nav{
        width: 95%;
        height: 56px;
        display: flex;
        flex-direction: row;
        position: relative;
        top: 30px;
        z-index: 99;
        margin: 0 auto;

        @include Mobile{

            display: grid;
            grid-template: 'navLogo navLogo navMobile' 'navLink navLink navLink';         
        }

        %navDefault{            
            display: flex;
            align-items: center;
            height: 56px;
        }

        .nav-logo{
            @extend %navDefault; 
            width: 30%;
            @include Mobile{
                grid-area: navLogo;
                padding-left: 10px;
            }

         }
        .nav-link{
            @extend %navDefault;
            @extend .barlow-semibold;
            width: 65%;
            text-transform: capitalize;
            color:$neutralWhite ;
            text-align: right;
            display: flex;
            justify-content: right;

            @include Mobile{      
                opacity: 0;  
                transition: opacity 0.8s;      
                position: relative;
                top: 25px;
                grid-area: navLink;
                margin: 0 auto;
                width: 329px;
                height: 329px;
                background-color: $neutralWhite;
                text-align: center;

                &:before{
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 24px 24px;
                    border-color: transparent transparent $neutralWhite transparent;
                    position: relative;
                    bottom: 30px;
                    left: 305px;
                }                
            }           
            
            ul{
                list-style-type: none;
                line-height: 40px;

                @include Mobile{
                    float: none;
                    width: 329px;
                    height: 280px;
                    display: grid;
                }

                li{
                    margin-left: 40px;
                    float: left;
                    font-size: 1rem;
                    line-height: 1.38rem;
                    letter-spacing: 0.007rem; 
                    cursor: pointer;

                    @include Mobile{
                        float: none;
                        line-height: 40px;
                        color: $neutralDarkGrayishBlue;
                        display: flex;
                        justify-content: center;
                         margin-left: 0; 
                         
                        a{
                        color: $neutralDarkGrayishBlue !important;
                        }
                    }
                    a{
                        color: $neutralWhite;
                        }
                }
                .contact{
                    a{
                    @extend .Fraunces-bold;
                    background-color: $neutralWhite ;
                    color:$neutralVeryDarkDesaturatedBlue ;
                    width: 140px;
                    height: 40px;
                    border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.83rem; 
                    line-height: 1.38rem;
                    letter-spacing: 0.006rem; 
                    position: relative;
                    bottom: 10px;
                    transition: all 0.8s;

                    &:hover{
                        color: $neutralWhite;
                        background-color: $contactHoverWhite;
                        transition: all 0.8s;
                    }

                    @include Mobile{
                        background-color: $primaryYellow ;
                        bottom: 0;
                        color:$neutralVeryDarkDesaturatedBlue;
                    }
                    }                                        
                }
            }
        }   
        .nav-mobile{
            width: 50px;
            display: none;

            @include Mobile{
                grid-area: navMobile;
                display: flex !important;
                justify-content: right;
                align-items: center;
                width: 85%;                
            }
        }   
        .open{
            @include Mobile{ 
                    display: grid !important;
                    opacity: 1;; 
                    transition: opacity 0.8s;
                }
        }  
    }
    figure{
        width: auto;
        height: $headerHeigth;
        position: absolute;
        z-index: 1;

        @include Mobile{
            height: 538px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .wrap{
        @extend .Fraunces-black;
        text-transform: uppercase;
        z-index: 3;
        position: absolute;
        width: 750px;
        height: 69px;
        top:35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 3.1rem;
        letter-spacing: 0.48rem;
        line-height: 3.86rem;
        color: $neutralWhite;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include Mobile{
            width: 50%;
            font-size: 2.2rem;
            top:25%;
            letter-spacing: 0.34rem;
            line-height: 2.74rem;
        }

        figure {
            width: 30px;
            height: 107px;
            align-items: center;
            margin-top: 150px;

            @include Mobile{
                margin-top: 120px;  
            }
        }
    }
}

main{
    background-color: $neutralWhite;
    $sectionHeight:600px;

    %section{
        width: auto;
        min-height:60px ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include Mobile{
            flex-direction: column-reverse;
        }
    }
    %item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
            @include Mobile{
                width: 100%;
                height: 400px;
            }
        }
    
    %title{
        @extend .Fraunces-black;
        color: $neutralVeryDarkDesaturatedBlue;
        width: 50%;
        font-size: 2.2rem;
        line-height:2.74rem; 
        letter-spacing: 0.016rem;

        @include Mobile{
            width: 327px;
            height: 78px;
            margin: 0 auto;
            font-size: 1.77rem;
            line-height:2.13rem; 
            letter-spacing: 0.028rem;
            text-align: center;
        }
    }
    %p{
        @extend .barlow-semibold ;
        color: $neutralDarkGrayishBlue;
        width: 50%;
        font-size: 1rem;
        padding: 20px 0;
        line-height: 1.66rem;
        letter-spacing: 0.007rem;

        @include Mobile{
            width: 327px;
            height: 150px;
            margin: 0 auto;
            font-size: 1rem;
            line-height:1.66rem; 
            letter-spacing: 0.07rem;
            text-align: center;
        }
    }
    %button{
        @extend .Fraunces-black;
        margin-top:50px;
        background-color: $neutralWhite;
        border: 0;
        text-transform: uppercase;
        width: 150px;
        font-size: 0.83rem;
        display: block;
        line-height: 1.38rem;
        letter-spacing: 0.055rem;
        cursor: pointer;

        @include Mobile{
            width: 137px;
            height: 25px;
            margin: 0 auto;
            font-size: 0.83rem;
            line-height:1.38rem; 
            letter-spacing: 0.055rem;
            margin-top: 30px;
        }
    }

    .Transform-your-brand{
        @extend %section;            

        article{
            @extend %item;
        

            h2{
                @extend %title;
                text-transform:capitalize;
            }
            p{
                @extend %p;
            }
            button{
                @extend %button;
                background: linear-gradient(0deg, #{$primaryYellow} 0%, #{$neutralWhite} 40%);
            }
        }
        figure{
            @extend %item;
            height: $sectionHeight;
            
            @include Mobile{
                width: 100%;
                height:312px;
            }
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .Stand-out-to-the-right-audience{
        @extend %section;
        flex-direction: row-reverse;

        @include Mobile{
            flex-direction: column-reverse;
            
        }

        article{
            @extend %item;

            h2{
                @extend %title;
                text-transform:capitalize;
            }
            p{
                @extend %p;
            }
            button{
                @extend %button;
                background: linear-gradient(0deg, #{$primarySoftRed} 0%, #{$neutralWhite} 40%);

            }
        }
        figure{
            @extend %item;
            height: $sectionHeight;
            @include Mobile{
                width: 100%;
                height:400px;
            }
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .graphic-photography{
        @extend %section;

        @include Mobile{
            flex-direction: column;            
        }

        .graphic{
            color:$primaryDarkDesaturatedCyan;
        }
        .photography{
            color:$primaryDarkBlue;
        }
        article{
            @extend %item;
            display: block;
            height: $sectionHeight;

            @include Mobile{
                height: 600px;           
            }          
            
            figure{
                @extend %item;
                height: $sectionHeight;
                width: 100%;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            article{
                position: relative;
                bottom: 40%;
                margin: 0 auto;
                text-align: center;

                @include Mobile{
                    margin: 0 auto;
                    width: 327px;
                    height: 143px;           
                }

                h2{
                    @extend .Fraunces-black;
                    letter-spacing: 0.01rem;
                    line-height: 1.91rem;
                    font-size: 1.4rem;
                    padding: 20px 0;

                    @include Mobile{
                        margin: 0 auto;
                        width: 221px;
                        height: 35px;    
                        text-align: center;
                        letter-spacing: 0.01rem;
                        line-height: 1.91rem;
                        font-size: 1.55rem;       
                    }
                }
                p{
                    @extend .barlow-semibold;
                    font-size: 0.88rem;
                    letter-spacing: 0.006rem;
                    line-height: 1.5rem;

                    @include Mobile{
                        margin: 0 auto;
                        width: 327px;
                        height: 81px;    
                        text-align: center;
                        letter-spacing: 0.006rem;
                        line-height: 1.5rem;
                        font-size: 0.88rem;       
                    }
                    
                }
            }
        }
        
    }

    .testimonials{
        @extend %section;
        flex-direction: column;
        min-height: 550px;

        @include Mobile{
            padding: 50px 0;
        }

        h2{
            @extend .Fraunces-black;
            color: $neutralGrayishBlue;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 0.27rem;
            line-height: 1.37rem;
            font-weight: normal;
            padding: 10px 0;
            
            @include Mobile{
                width: 279px;
                height: 20px;
                margin: 0 auto;
                font-size: 0.88rem;               
                line-height: 1.09rem;
                letter-spacing: 0.22rem;
                text-align: center;
            }
        }

        .cards{
            width: 80%;
            display: grid ;
            grid-template-columns: repeat(3,1fr);
            gap:50px;
            width: 72%;
            margin: 0 auto;

            @include Mobile{
                grid-template-columns: repeat(1,1fr);
                width: 327px;
                margin: 0 auto;
            }

            .card{
                display: flex;
                flex-direction: column;
                align-items: center;

                @include Mobile{
                    width: 327px;
                }

                .card-user{
                    text-align: center;
                    padding: 50px 0;
                    figure{
                        width: 72px;
                        height: 72px;
                        img{
                            width: 100%;
                            height: 100%;
                            border:0;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
                .card-content{
                    @extend .barlow-semibold;
                    font-size: 1rem;
                    color:$neutralVeryDarkGrayishBlue;
                    text-transform: capitalize;
                    padding: 0 0 30px 0;
                    line-height: 1.77rem;
                    letter-spacing:0.007rem;
                    
                    @include Mobile{
                        width: 327px;
                        font-size: 1rem;
                        line-height: 1.77rem;
                        letter-spacing:0.007rem;
                        text-align: center;
                    }
                }
                .card-name{
                    @extend .Fraunces-black;
                    font-size: 1rem;
                    color:$neutralVeryDarkDesaturatedBlue;
                    text-transform: capitalize;
                    line-height: 1.23rem;
                    letter-spacing: 0.007rem;

                    @include Mobile{
                        margin: 0 auto;
                        width: 79px;
                        font-size: 1rem;
                        line-height: 1.23rem;
                        letter-spacing:0.007rem;
                        text-align: center;
                    }
                }
                .card-job{
                    @extend .barlow-semibold;
                    font-size: 0.77rem;
                    color:$neutralGrayishBlue;
                    text-transform: capitalize;
                    line-height: 1.38rem;
                    letter-spacing: 0.005rem;

                    @include Mobile{
                        margin: 0 auto;
                        width: 203px;
                        font-size: 0.77rem;
                        line-height: 1.38rem;
                        letter-spacing:0.005rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    .gallery{
        @extend %section;
        $galleryHeight: 447px;
        height: $galleryHeight;

        @include Mobile{
            height: 375px;
        }

        article{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            width: 100%;
            height: $galleryHeight;
            @include Mobile{
                height: 375px;
                grid-template-columns: repeat(2,1fr);
            }

            figure{
                height: $galleryHeight;
                @include Mobile{
                    height: 188px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

footer{
    width: auto;
    height: 350px;
    background-color: $primaryFooterBackground ;
    justify-content: center;
    align-items: center;

    article{
        width: 297px;
        height: 206px;
        margin: 0 auto;
        display: flex;
        flex-direction: column; 
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;

        @include Mobile{
            height: 206px;
        }

        %sectionFooter{
            padding: 20px 0;
        }

        %ul{
            width: 100%;
            height: 25px;
            list-style-type: none; 
            text-align: center;  
            display: flex;
            justify-content: center;
            @include Mobile{
                width: 297px;
                height: 25px;
            }         
            
            li{
                @extend .barlow-semibold;
                float: left;
                margin-left: 30px;
                display: block;
                font-size: 1rem;
                line-height: 1.38rem;
                letter-spacing: 0.007rem;

                &:hover img{
                    filter: brightness(100);
                }

                @include Mobile{
                    width: 69px;
                    height: 25px;
                } 
            }
        }
            .logo{
                @extend %sectionFooter;

                img{
                    filter: invert(167) sepia(40) brightness(0%);
                }
            }
            .link{
                @extend %sectionFooter;

                ul{
                    @extend %ul;
                }
                a{
                    color: $primaryDarkModerateCyan; 
                    font-size: 1rem;
                    line-height: 1.38rem;
                    letter-spacing: 0.007rem;
                    &:hover{
                        color: $neutralWhite;
                    }
                }
            }
           .follow{
                @extend %sectionFooter;

                ul{
                    @extend %ul;
                    margin: 0 auto;

                    li{
                        @include Mobile{
                            width: 30px;
                            height: 25px;
                            margin-left: 10px;
                            cursor: pointer;

                        
                        } 
                    }
                }

           }
    }
}
