@import "libs/_reset.scss";
@import "libs/_variables.scss";
@import "libs/_fonts.scss";
@import "libs/_mediaQueries.scss";

body{
    font-size: $bodySizetext;
    width: 100%;
    max-width:1440px;
    background-color: #c0c0c0;
    margin: 0 auto;
}

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
.Fraunces-bold {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.Fraunces-black {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

header{
    $headerHeigth:550px !default;

    background-color: hsl(199.79deg, 100% ,61.96%);
    height: $headerHeigth;
    display: flex;
    flex-direction: column;

    nav{
        width: 100%;
        height: 80px;
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 2;

        %navDefault{
            flex: 1;
            width: 50%;
            display: flex;
            align-items: center;
        }

        .nav-logo{
           @extend %navDefault; 
           picture{
                padding: 0 30px;
           }
        }
        .nav-link{
            @extend %navDefault;
            @extend .barlow-semibold;

            @include Mobile{
                display: none !important;
            }

            font-size: 1rem;
            text-transform: capitalize;
            color:$neutralWhite ;
            text-align: right;
            padding-right: 30px;
            display: flex;
            justify-content: right;
            ul{
                list-style-type: none;
                line-height: 30px;
                height: 40px;
                li{
                    margin-right: 40px;
                    float: left;
                }
                .contact{
                    background-color: $neutralWhite ;
                    color:$neutralDarkGrayishBlue ;
                    width: 100px;
                    padding: 5px 0;
                    border-radius: 25px;
                    text-align: center;
                    position: relative;
                    bottom: 5px;                    
                }
            }
        }   
        .nav-mobile{
            width: 50px;
            padding: 30px 10px;
            display: none;

            @include Mobile{
                display:block !important;
            }
        }     
    }
    figure{
        width: 100%;
        height: 450px;
        position: relative;
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .wrap{
        @extend .Fraunces-bold;
        text-transform: uppercase;
        z-index: 3;
        position: absolute;
        width: 800px;
        height: 350px;
        top:45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 3rem;
        letter-spacing: 0.5rem;;
        color: $neutralWhite;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include Mobile{
            width: 50%;
            font-size: 2rem;
            top:35%;
        }

        figure {
            width: 36px;
            height: 114px;
            align-items: center;
            margin-top: 70px;
        }
    }
}

main{
    background-color: $neutralWhite;
    $sectionHeight:500px;

    %section{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include Mobile{
            flex-direction: column-reverse;
            height: none;
        }
    }
    %item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        @include Mobile{
            width: 100%;
            height: 400px;
        }
        }
    
    %title{
        @extend .Fraunces-black;
        color: $neutralVeryDarkDesaturatedBlue;
        width: 50%;
    }
    %p{
        @extend .Fraunces-bold;
        color: $neutralVeryDarkDesaturatedBlue;
        width: 50%;
        font-size: 0.9rem;
        font-weight: normal;
        padding: 20px 0;

    }
    %button{
        @extend .Fraunces-bold ;
        display: block;
        margin-top:50px;
        background-color: $neutralWhite;
        border: 0;
        text-transform: uppercase;
        width: 100px;
    }

    .Transform-your-brand{
        @extend %section;            

        article{
            @extend %item;
        

            .title{
                @extend %title;
                text-transform:capitalize;
                font-size: 2rem;
            }
            p{
                @extend %p;
            }
            button{
                @extend %button;
                background: linear-gradient(0deg, #{$primaryYellow} 0%, #{$neutralWhite} 40%);

            }
        }
        figure{
            @extend %item;
            height: $sectionHeight;
            @include Mobile{
                width: 100%;
                height:300px;
            }
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }
    .Stand-out-to-the-right-audience{
        @extend %section;
        flex-direction: row-reverse;
        @include Mobile{
            flex-direction: column-reverse;
            
        }

        article{
            @extend %item;

            .title{
                @extend %title;
                text-transform:capitalize;
                font-size: 2rem;
            }
            p{
                @extend %p;
            }
            button{
                @extend %button;
                background: linear-gradient(0deg, #{$primarySoftRed} 0%, #{$neutralWhite} 40%);

            }
        }
        figure{
            @extend %item;
            height: $sectionHeight;
            @include Mobile{
                width: 100%;
                height:400px;
            }
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .graphic-photography{
        @extend %section;

        .graphic{
            color:$primaryDarkDesaturatedCyan;
        }
        .photography{
            color:$primaryDarkBlue;
        }
        article{
            @extend %item;
            display: block;
            height: $sectionHeight;
            
            figure{
                @extend %item;
                height: $sectionHeight;
                width: 100%;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            article{
                position: relative;
                bottom: 200px;
                margin: 0 auto;
                text-align: center;

                .title{
                    @extend .Fraunces-bold;
                    font-size: 1.2rem;
                    padding: 20px 0;
                }
                p{
                    @extend .Fraunces-bold;
                    font-size: 0.9rem;
                    font-weight: normal;
                }
            }
        }
        
    }

    .testimonials{
        @extend %section;
        flex-direction: column;
        height: 500px;

        .title{
            @extend .Fraunces-bold;
            color: $neutralDarkGrayishBlue;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.4rem;
            padding: 50px 0;
        }

        .cards{
            display: grid ;
            grid-template-columns: repeat(3,300px);
            gap:50px;
            

            .card{
                display: flex;
                flex-direction: column;
                align-items: center;

                .card-user{
                    text-align: center;
                    padding: 50px 0;
                    figure{
                        width: 50px;
                        height: 50px;
                        img{
                            width: 100%;
                            height: 100%;
                            border:0;
                            border-radius: 50%;
                        }
                    }
                }
                .card-content{
                    @extend .Fraunces-bold;
                    font-size: 0.8rem;
                    color:$neutralDarkGrayishBlue;
                    line-height: 1.3rem;
                    text-transform: capitalize;
                    padding: 0 0 30px 0;
                }
                .card-name{
                    @extend .Fraunces-bold;
                    font-size: 1rem;
                    color:$neutralVeryDarkDesaturatedBlue;
                    text-transform: capitalize;
                }
                .card-job{
                    @extend .Fraunces-bold;
                    font-size: 0.8rem;
                    color:$neutralGrayishBlue;
                    text-transform: capitalize;
                    font-weight: normal;
                }
            }
        }
    }
    .gallery{
        @extend %section;
        $galleryHeight: 400px;
        height: $galleryHeight;

        article{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            width: 100%;
            height: $galleryHeight;
            figure{
                height: $galleryHeight;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

footer{
    width: auto;
    height: 250px;
    background-color: $primaryFooterBackground ;
    padding: 50px;

    article{
        width: 30%;
        margin: 0 auto;
        display: flex;
        flex-direction: column; 
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        
            ul{
                list-style-type: none;
                padding: 50px 0;
                
                li{
                    @extend .barlow-semibold;
                    float: left;
                    margin-left: 50px;
                    display: block;
                }
            }
            .link{
                a{
                    color: $primaryDarkModerateCyan; 
                    font-size: 1rem;
                 }
            }
            .logo{
                img{
                    filter: invert(100%) sepia(100%) saturate(0%);
                }
            }
            
    }
}


