@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px default; }

a {
  text-decoration: none; }

a:hover, a:visited, a:focus {
  color: #000; }

/* Color Primary */
/*(graphic design text)*/
/*(photography text)*/
/*(footer)*/
/* Color Neutral */
body {
  font-size: 18px;
  width: 100%;
  max-width: 1440px;
  background-color: #c0c0c0;
  margin: 0 auto; }

.barlow-semibold, header nav .nav-link, main .Transform-your-brand article p, main .Stand-out-to-the-right-audience article p, main .graphic-photography article article p, main .testimonials .cards .card .card-content, main .testimonials .cards .card .card-job, footer article .link ul li, footer article .follow ul li {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal; }

.Fraunces-bold, header nav .nav-link ul .contact {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-style: normal; }

.Fraunces-black, header .wrap, main .Transform-your-brand article h2, main .Stand-out-to-the-right-audience article h2, main .Transform-your-brand article button, main .Stand-out-to-the-right-audience article button, main .graphic-photography article article h2, main .testimonials h2, main .testimonials .cards .card .card-name {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-style: normal; }

header {
  background-color: #3dbfff;
  height: 800px;
  display: flex;
  flex-direction: column; }
  header nav {
    width: 95%;
    height: 56px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 34px;
    z-index: 2;
    margin: 0 auto; }
    header nav .nav-logo, header nav .nav-link {
      width: 50%;
      display: flex;
      align-items: center; }
    header nav .nav-logo picture {
      padding: 0 30px; }
    header nav .nav-link {
      font-size: 1rem;
      text-transform: capitalize;
      color: white;
      text-align: right;
      display: flex;
      justify-content: right; }
      @media (max-width: 640px) {
        header nav .nav-link {
          display: none !important; } }
      @media (max-width: 768px) {
        header nav .nav-link {
          display: none !important; } }
      header nav .nav-link ul {
        list-style-type: none;
        line-height: 40px; }
        header nav .nav-link ul li {
          margin-left: 40px;
          float: left;
          line-height: 1.38rem;
          letter-spacing: 0.007rem; }
        header nav .nav-link ul .contact {
          background-color: white;
          color: #23303e;
          width: 140px;
          height: 40px;
          border-radius: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.83rem;
          line-height: 1.38rem;
          letter-spacing: 0.006rem;
          position: relative;
          bottom: 10px; }
    header nav .nav-mobile {
      width: 50px;
      display: none; }
      @media (max-width: 640px) {
        header nav .nav-mobile {
          display: flex !important;
          justify-content: right;
          align-items: center;
          width: 45%; } }
      @media (max-width: 768px) {
        header nav .nav-mobile {
          display: flex !important;
          justify-content: right;
          align-items: center;
          width: 45%; } }
  header figure {
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: 1; }
    header figure img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  header .wrap {
    text-transform: uppercase;
    z-index: 3;
    position: absolute;
    width: 750px;
    height: 69;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3.1rem;
    letter-spacing: 0.48rem;
    line-height: 3.86rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 640px) {
      header .wrap {
        width: 50%;
        font-size: 2rem;
        top: 35%; } }
    header .wrap figure {
      width: 30px;
      height: 107px;
      align-items: center;
      margin-top: 70px; }

main {
  background-color: white; }
  main .Transform-your-brand, main .Stand-out-to-the-right-audience, main .graphic-photography, main .testimonials, main .gallery {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media (max-width: 640px) {
      main .Transform-your-brand, main .Stand-out-to-the-right-audience, main .graphic-photography, main .testimonials, main .gallery {
        flex-direction: column-reverse;
        height: none; } }
  main .Transform-your-brand article, main .Transform-your-brand figure, main .Stand-out-to-the-right-audience article, main .Stand-out-to-the-right-audience figure, main .graphic-photography article, main .graphic-photography article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; }
    @media (max-width: 640px) {
      main .Transform-your-brand article, main .Transform-your-brand figure, main .Stand-out-to-the-right-audience article, main .Stand-out-to-the-right-audience figure, main .graphic-photography article, main .graphic-photography article figure {
        width: 100%;
        height: 400px; } }
  main .Transform-your-brand article h2, main .Stand-out-to-the-right-audience article h2 {
    color: #23303e;
    width: 50%;
    font-size: 2.2rem;
    line-height: 2.74rem;
    letter-spacing: 0.016rem; }
  main .Transform-your-brand article p, main .Stand-out-to-the-right-audience article p {
    color: #818498;
    width: 50%;
    font-size: 1rem;
    font-weight: normal;
    padding: 20px 0;
    line-height: 1.66rem;
    letter-spacing: 0.007rem; }
  main .Transform-your-brand article button, main .Stand-out-to-the-right-audience article button {
    margin-top: 50px;
    background-color: white;
    border: 0;
    text-transform: uppercase;
    width: 150px;
    font-size: 0.83rem;
    display: block;
    line-height: 1.38rem;
    letter-spacing: 0.055rem; }
  main .Transform-your-brand article h2 {
    text-transform: capitalize; }
  main .Transform-your-brand article button {
    background: linear-gradient(0deg, #fad400 0%, white 40%); }
  main .Transform-your-brand figure {
    height: 600px; }
    @media (max-width: 640px) {
      main .Transform-your-brand figure {
        width: 100%;
        height: 300px; } }
    main .Transform-your-brand figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  main .Stand-out-to-the-right-audience {
    flex-direction: row-reverse; }
    @media (max-width: 640px) {
      main .Stand-out-to-the-right-audience {
        flex-direction: column-reverse; } }
    main .Stand-out-to-the-right-audience article h2 {
      text-transform: capitalize; }
    main .Stand-out-to-the-right-audience article button {
      background: linear-gradient(0deg, #fe7867 0%, white 40%); }
    main .Stand-out-to-the-right-audience figure {
      height: 600px; }
      @media (max-width: 640px) {
        main .Stand-out-to-the-right-audience figure {
          width: 100%;
          height: 400px; } }
      main .Stand-out-to-the-right-audience figure img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  main .graphic-photography .graphic {
    color: #25564b; }
  main .graphic-photography .photography {
    color: #19536b; }
  main .graphic-photography article {
    display: block;
    height: 600px; }
    main .graphic-photography article figure {
      height: 600px;
      width: 100%; }
      main .graphic-photography article figure img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    main .graphic-photography article article {
      position: relative;
      bottom: 40%;
      margin: 0 auto;
      text-align: center; }
      main .graphic-photography article article h2 {
        letter-spacing: 0.01rem;
        line-height: 1.91rem;
        font-size: 1.4rem;
        padding: 20px 0; }
      main .graphic-photography article article p {
        font-size: 0.88rem;
        letter-spacing: 0.006rem;
        line-height: 1.5rem; }
  main .testimonials {
    flex-direction: column;
    min-height: 550px; }
    main .testimonials h2 {
      color: #a7abae;
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 0.27rem;
      line-height: 1.37rem;
      font-weight: normal;
      padding: 10px 0; }
    main .testimonials .cards {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
      width: 72%;
      margin: 0 auto; }
      main .testimonials .cards .card {
        display: flex;
        flex-direction: column;
        align-items: center; }
        main .testimonials .cards .card .card-user {
          text-align: center;
          padding: 50px 0; }
          main .testimonials .cards .card .card-user figure {
            width: 72px;
            height: 72px; }
            main .testimonials .cards .card .card-user figure img {
              width: 100%;
              height: 100%;
              border: 0;
              object-fit: cover;
              border-radius: 50%; }
        main .testimonials .cards .card .card-content {
          font-size: 1rem;
          color: #5a636c;
          line-height: 1.3rem;
          text-transform: capitalize;
          padding: 0 0 30px 0;
          line-height: 1.77rem;
          letter-spacing: 0.007rem; }
        main .testimonials .cards .card .card-name {
          font-size: 1rem;
          color: #23303e;
          text-transform: capitalize;
          line-height: 1.23rem;
          letter-spacing: 0.007rem; }
        main .testimonials .cards .card .card-job {
          font-size: 0.77rem;
          color: #a7abae;
          text-transform: capitalize;
          line-height: 1.38rem;
          letter-spacing: 0.005rem; }
  main .gallery {
    height: 447px; }
    main .gallery article {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      height: 447px; }
      main .gallery article figure {
        height: 447px; }
        main .gallery article figure img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

footer {
  width: auto;
  height: 350px;
  background-color: #90d4c5;
  justify-content: center;
  align-items: center; }
  footer article {
    width: 297px;
    height: 206px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 50px 0px; }
    footer article .logo, footer article .link, footer article .follow {
      padding: 20px 0; }
    footer article .link ul, footer article .follow ul {
      width: 100%;
      height: 25px;
      list-style-type: none; }
      footer article .link ul li, footer article .follow ul li {
        float: left;
        margin-left: 30px;
        display: block;
        font-size: 1rem;
        line-height: 1.38rem;
        letter-spacing: 0.007rem; }
    footer article .logo img {
      filter: invert(100%) sepia(100%) saturate(0%); }
    footer article .link a {
      color: #458c7e;
      font-size: 1rem;
      line-height: 1.38rem;
      letter-spacing: 0.007rem; }
    footer article .logo img {
      filter: hue-rotate(167deg) saturate(40%) brightness(24%); }

/*# sourceMappingURL=style.css.map */
