@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,900&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 18px; }

a {
  text-decoration: none;
  color: #000; }

a:hover, a:visited, a:focus {
  color: #000; }

/* Color Primary */
/*(graphic design text)*/
/*(photography text)*/
/*(footer)*/
/* Color Neutral */
body {
  font-size: 18px;
  width: 100%;
  max-width: 1440px;
  background-color: #c0c0c0;
  margin: 0 auto; }

.barlow-semibold, header nav .nav-link, header nav .nav-link a, main .Transform-your-brand article p, main .Stand-out-to-the-right-audience article p, main .graphic-photography article article p, main .testimonials .cards .card .card-content, main .testimonials .cards .card .card-job, footer article .follow ul li {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal; }

.Fraunces-bold {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-style: normal; }

.Fraunces-black, header .wrap, main .Transform-your-brand article h2, main .Stand-out-to-the-right-audience article h2, main .Transform-your-brand article button, main .Stand-out-to-the-right-audience article button, main .graphic-photography article article h3, main .testimonials h2, main .testimonials .cards .card .card-name {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-style: normal; }

header {
  background-color: #3dbfff;
  background-image: url("../../assets/images/photos/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 640px) {
    header {
      height: 538px; } }
  header nav {
    width: 95%;
    height: 56px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    z-index: 99;
    margin: 0 auto; }
    @media (max-width: 640px) {
      header nav {
        display: grid;
        grid-template: 'navLogo navLogo navMobile' 'navLink navLink navLink'; } }
    header nav .nav-logo, header nav .nav-link {
      display: flex;
      align-items: center;
      height: 56px; }
    header nav .nav-logo {
      width: 30%; }
      @media (max-width: 640px) {
        header nav .nav-logo {
          grid-area: navLogo;
          padding-left: 10px; } }
    header nav .nav-link {
      width: 65%;
      text-transform: capitalize;
      color: white;
      text-align: right;
      display: flex;
      justify-content: right; }
      @media (max-width: 640px) {
        header nav .nav-link {
          grid-area: navLink;
          opacity: 0;
          transition: opacity 0.8s;
          position: relative;
          top: 25px;
          margin: 0 auto;
          width: 329px;
          height: 329px;
          background-color: white;
          color: #818498;
          text-align: center;
          display: inline-grid;
          justify-content: center;
          flex-direction: column; }
          header nav .nav-link:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 24px 24px;
            border-color: transparent transparent white transparent;
            position: relative;
            bottom: 30px;
            left: 184px; } }
      header nav .nav-link a {
        font-size: 1rem;
        line-height: 1.38rem;
        letter-spacing: 0.007rem;
        margin-left: 50px;
        color: white; }
        @media (max-width: 640px) {
          header nav .nav-link a {
            color: #818498;
            margin-left: 0px;
            margin-bottom: 20px; } }
      header nav .nav-link .contact {
        background-color: white;
        padding: 10px 20px;
        border-radius: 25px;
        color: #23303e;
        font-size: 0.83rem;
        line-height: 1.38rem;
        letter-spacing: 0.006rem;
        transition: all 0.8s; }
        header nav .nav-link .contact:hover {
          background-color: rgba(255, 255, 255, 0.5);
          color: white; }
        @media (max-width: 640px) {
          header nav .nav-link .contact {
            background-color: #fad400; }
            header nav .nav-link .contact:hover {
              color: #23303e; } }
    header nav .nav-mobile {
      width: 50px;
      display: none; }
      @media (max-width: 640px) {
        header nav .nav-mobile {
          grid-area: navMobile;
          display: flex !important;
          justify-content: right;
          align-items: center;
          width: 85%; } }
    @media (max-width: 640px) {
      header nav .open {
        opacity: 1;
        transition: opacity 0.8s; } }
  header figure {
    width: auto;
    height: 800px;
    position: absolute;
    z-index: 1; }
    @media (max-width: 640px) {
      header figure {
        height: 538px; } }
    header figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  header .wrap {
    text-transform: uppercase;
    z-index: 3;
    position: absolute;
    width: 750px;
    height: 69px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3.1rem;
    letter-spacing: 0.48rem;
    line-height: 3.86rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 640px) {
      header .wrap {
        position: relative;
        width: 50%;
        font-size: 2.2rem;
        top: 20%;
        letter-spacing: 0.34rem;
        line-height: 2.74rem; } }
    header .wrap img {
      width: 30px;
      height: 107px;
      align-items: center;
      margin-top: 100px; }
      @media (max-width: 640px) {
        header .wrap img {
          margin-top: 30px; } }

main {
  background-color: white; }
  main .Transform-your-brand, main .Stand-out-to-the-right-audience, main .graphic-photography, main .testimonials, main .gallery {
    width: auto;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media (max-width: 640px) {
      main .Transform-your-brand, main .Stand-out-to-the-right-audience, main .graphic-photography, main .testimonials, main .gallery {
        flex-direction: column-reverse; } }
  main .Transform-your-brand article, main .Transform-your-brand figure, main .Stand-out-to-the-right-audience article, main .Stand-out-to-the-right-audience figure, main .graphic-photography article, main .graphic-photography article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; }
    @media (max-width: 640px) {
      main .Transform-your-brand article, main .Transform-your-brand figure, main .Stand-out-to-the-right-audience article, main .Stand-out-to-the-right-audience figure, main .graphic-photography article, main .graphic-photography article figure {
        width: 100%;
        height: 400px; } }
  main .Transform-your-brand article h2, main .Stand-out-to-the-right-audience article h2 {
    color: #23303e;
    width: 50%;
    font-size: 2.2rem;
    line-height: 2.74rem;
    letter-spacing: 0.016rem; }
    @media (max-width: 640px) {
      main .Transform-your-brand article h2, main .Stand-out-to-the-right-audience article h2 {
        width: 327px;
        height: 78px;
        margin: 0 auto;
        font-size: 1.77rem;
        line-height: 2.13rem;
        letter-spacing: 0.028rem;
        text-align: center; } }
  main .Transform-your-brand article p, main .Stand-out-to-the-right-audience article p {
    color: #818498;
    width: 50%;
    font-size: 1rem;
    padding: 20px 0;
    line-height: 1.66rem;
    letter-spacing: 0.007rem; }
    @media (max-width: 640px) {
      main .Transform-your-brand article p, main .Stand-out-to-the-right-audience article p {
        width: 327px;
        height: 150px;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.66rem;
        letter-spacing: 0.07rem;
        text-align: center; } }
  main .Transform-your-brand article button, main .Stand-out-to-the-right-audience article button {
    margin-top: 50px;
    background-color: white;
    border: 0;
    text-transform: uppercase;
    width: 150px;
    font-size: 0.83rem;
    display: block;
    line-height: 1.38rem;
    letter-spacing: 0.055rem;
    cursor: pointer; }
    @media (max-width: 640px) {
      main .Transform-your-brand article button, main .Stand-out-to-the-right-audience article button {
        width: 137px;
        height: 25px;
        margin: 0 auto;
        font-size: 0.83rem;
        line-height: 1.38rem;
        letter-spacing: 0.055rem;
        margin-top: 30px; } }
  main .Transform-your-brand article h2 {
    text-transform: capitalize; }
  main .Transform-your-brand article button {
    background: linear-gradient(0deg, #fad400 0%, white 40%); }
  main .Transform-your-brand figure {
    height: 600px; }
    @media (max-width: 640px) {
      main .Transform-your-brand figure {
        width: 100%;
        height: 312px; } }
    main .Transform-your-brand figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  main .Stand-out-to-the-right-audience {
    flex-direction: row-reverse; }
    @media (max-width: 640px) {
      main .Stand-out-to-the-right-audience {
        flex-direction: column-reverse; } }
    main .Stand-out-to-the-right-audience article h2 {
      text-transform: capitalize; }
    main .Stand-out-to-the-right-audience article button {
      background: linear-gradient(0deg, #fe7867 0%, white 40%); }
    main .Stand-out-to-the-right-audience figure {
      height: 600px; }
      @media (max-width: 640px) {
        main .Stand-out-to-the-right-audience figure {
          width: 100%;
          height: 400px; } }
      main .Stand-out-to-the-right-audience figure img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  @media (max-width: 640px) {
    main .graphic-photography {
      flex-direction: column; } }
  main .graphic-photography .graphic {
    color: #25564b; }
  main .graphic-photography .photography {
    color: #19536b; }
  main .graphic-photography article {
    display: block;
    height: 600px; }
    @media (max-width: 640px) {
      main .graphic-photography article {
        height: 600px; } }
    main .graphic-photography article figure {
      height: 600px;
      width: 100%; }
      main .graphic-photography article figure img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    main .graphic-photography article article {
      position: relative;
      bottom: 40%;
      margin: 0 auto;
      text-align: center; }
      @media (max-width: 640px) {
        main .graphic-photography article article {
          margin: 0 auto;
          width: 327px;
          height: 143px; } }
      main .graphic-photography article article h3 {
        letter-spacing: 0.01rem;
        line-height: 1.91rem;
        font-size: 1.4rem;
        padding: 20px 0; }
        @media (max-width: 640px) {
          main .graphic-photography article article h3 {
            margin: 0 auto;
            width: 221px;
            height: 35px;
            text-align: center;
            letter-spacing: 0.01rem;
            line-height: 1.91rem;
            font-size: 1.55rem; } }
      main .graphic-photography article article p {
        font-size: 0.88rem;
        letter-spacing: 0.006rem;
        line-height: 1.5rem; }
        @media (max-width: 640px) {
          main .graphic-photography article article p {
            margin: 0 auto;
            width: 327px;
            height: 81px;
            text-align: center;
            letter-spacing: 0.006rem;
            line-height: 1.5rem;
            font-size: 0.88rem; } }
  main .testimonials {
    flex-direction: column;
    min-height: 550px; }
    @media (max-width: 640px) {
      main .testimonials {
        padding: 50px 0; } }
    main .testimonials h2 {
      color: #a7abae;
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 0.27rem;
      line-height: 1.37rem;
      font-weight: normal;
      padding: 10px 0; }
      @media (max-width: 640px) {
        main .testimonials h2 {
          width: 279px;
          height: 20px;
          margin: 0 auto;
          font-size: 0.88rem;
          line-height: 1.09rem;
          letter-spacing: 0.22rem;
          text-align: center; } }
    main .testimonials .cards {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
      width: 72%;
      margin: 0 auto; }
      @media (max-width: 640px) {
        main .testimonials .cards {
          grid-template-columns: repeat(1, 1fr);
          width: 327px;
          margin: 0 auto; } }
      main .testimonials .cards .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; }
        @media (max-width: 640px) {
          main .testimonials .cards .card {
            width: 327px; } }
        main .testimonials .cards .card .card-user {
          padding: 50px 0; }
          main .testimonials .cards .card .card-user img {
            width: 72px;
            height: 72px;
            border: 0;
            object-fit: cover;
            border-radius: 50%; }
        main .testimonials .cards .card .card-content {
          text-align: center;
          font-size: 1rem;
          color: #5a636c;
          text-transform: capitalize;
          padding: 0 0 30px 0;
          line-height: 1.77rem;
          letter-spacing: 0.007rem; }
          @media (max-width: 640px) {
            main .testimonials .cards .card .card-content {
              width: 327px;
              font-size: 1rem;
              line-height: 1.77rem;
              letter-spacing: 0.007rem;
              text-align: center; } }
        main .testimonials .cards .card .card-name {
          font-size: 1rem;
          color: #23303e;
          text-transform: capitalize;
          line-height: 1.23rem;
          letter-spacing: 0.007rem;
          text-align: center; }
          @media (max-width: 640px) {
            main .testimonials .cards .card .card-name {
              margin: 0 auto;
              font-size: 1rem;
              line-height: 1.23rem;
              letter-spacing: 0.007rem;
              text-align: center; } }
        main .testimonials .cards .card .card-job {
          font-size: 0.77rem;
          color: #a7abae;
          text-transform: capitalize;
          line-height: 1.38rem;
          letter-spacing: 0.005rem;
          text-align: center; }
          @media (max-width: 640px) {
            main .testimonials .cards .card .card-job {
              margin: 0 auto;
              width: 203px;
              font-size: 0.77rem;
              line-height: 1.38rem;
              letter-spacing: 0.005rem;
              text-align: center; } }
  main .gallery {
    height: 447px; }
    @media (max-width: 640px) {
      main .gallery {
        height: auto; } }
    main .gallery article {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      height: 447px; }
      @media (max-width: 640px) {
        main .gallery article {
          height: auto;
          grid-template-columns: repeat(2, 1fr); } }
      main .gallery article img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

footer {
  width: auto;
  height: 350px;
  background-color: #90d4c5;
  justify-content: center;
  align-items: center; }
  footer article {
    width: 297px;
    height: 206px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 50px 0px; }
    @media (max-width: 640px) {
      footer article {
        height: 206px; } }
    footer article .logo, footer article .link, footer article .follow {
      padding: 20px 0; }
    footer article .follow ul {
      width: 100%;
      height: 25px;
      list-style-type: none;
      text-align: center;
      display: flex;
      justify-content: center; }
      @media (max-width: 640px) {
        footer article .follow ul {
          width: 297px;
          height: 25px; } }
      footer article .follow ul li {
        float: left;
        margin-left: 30px;
        display: block;
        font-size: 1rem;
        line-height: 1.38rem;
        letter-spacing: 0.007rem; }
        footer article .follow ul li:hover img {
          filter: brightness(100); }
        @media (max-width: 640px) {
          footer article .follow ul li {
            width: 69px;
            height: 25px; } }
    footer article .logo img {
      filter: invert(167) sepia(40) brightness(0%); }
    footer article .link a {
      color: #458c7e;
      font-size: 1rem;
      line-height: 1.38rem;
      letter-spacing: 0.007rem;
      display: inline-block;
      width: 90px; }
      footer article .link a:hover {
        color: white; }
    footer article .follow ul {
      margin: 0 auto; }
      @media (max-width: 640px) {
        footer article .follow ul li {
          width: 30px;
          height: 25px;
          margin-left: 10px;
          cursor: pointer; } }

/*# sourceMappingURL=style.css.map */
